 body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
}

* {
  /* border:1px solid red; */
}
.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #0087ca;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #3367C1;
  transform-origin: bottom left;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.nav-2 {
  background-color: #3367C1;
}

.nav2col-2 ul li {
  list-style-type: none;
  display: inline;
  margin-right: 20px;
  color: #fff
}

.nav2col-1 ul {
  margin-left: 15%;
}

.nav2col-2 ul {
  margin-left: 5%;
}

.nav-2 img {
  width: 20px;
  height: 20px;
}

.nav2col-2 img {
  width: 15px;
  height: 15px;
}

.nav-2 .row {
  width: 100%;
}

.search-btn {
  text-decoration: none;
  color: #111;
}

.search-btn img {
  width: 20px;
  height: 20px;
  margin-top: 13px;
}

.container-fluid.c-1 {
  padding: 0;
  margin: 0;
  width: 100%;
}
.c-1 .row{
width:100%;
}
.navbar-brand img {
  width: auto;
  height: 65px;
  /* margin: 0px 0px 0px 50%; */
}
.nav1col-1 a{
margin-left:30%;
}
.nav1col-2 ul{
  margin-left: 10%;
  padding-top: 10px;
}
.nav1col-2 ul li{
  margin-right: 10px;
}
.dropdown:hover .dropdown-menu {
  display: block;
  padding-top:0;
  padding-bottom: 0;
  text-align: center;
  /* background-color: #3367C1; */
}

.nav-ul li a {
  /* margin-right: 20px; */
  color: #111;
  font-weight: 500;
}
#collapsibleNavbar {
  margin-left:20% ;
  max-width:55%;
  padding:0;
}
#collapsibleNavbar ul li a:hover {
  color: #3367C1;
}

.dropdown .dropdown-menu .dropdown-item {
  height: 50px;
  background-color: #3367C1;
  color: #fff;
  padding-top:10px;
}
.dropdown .dropdown-menu .dropdown-item:hover {
  color: #3367C1;
  background-color: aliceblue;
}

.container-fluid.c-2 {
  padding: 0;
}

.nav-search {
  /* display:none; */
  padding-top: 10px;
}

.nav-search input {
  width: 20%;
  margin-left: 72%;
  border: 10px solid #3367C1;
}
#src-bar{
  display: none;
}
.custom-img {
  width: 100%;
  height: 300px;
  background-image: url("Images/cc.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 70% 80%;
  z-index: -1;
}

.heading {
  text-align: center;
 margin-top: -12%;
  color: #fff;
  font-size: 50px;
  padding:0;
}

.container-fluid.c-3 {
  margin-top:7%;
  padding: 5%;
}

.container-fluid.c-4,
.container-fluid.c-5 {
  padding: 0% 5%;
}

.team-link {
  padding: 5%;
}

.card {
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-content {
  padding: 0 10px;
}

.slides h5 {
  margin-top: 10px;
}

.c-6 {
  background-image: url("Images/cs-1.jpg");
  min-height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  /* background: #3367C1!important; */
  /* opacity: 0.5; */
}

.quality-row {
  padding: 5% 10%;
}

.container-fluid.c-7 {
  padding: 5%;
}

.button {
  border-radius: 30px;
  background-color: transparent;
  border: 2px solid;
  color: #FFFFFF;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  padding: 15px 8px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

button:hover {
  background-color: #fff;
  border: 2px solid #1affff;

}

.button:hover span {
  padding-right: 12px;
  color: #111;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.quality-row {
  text-align: center;
}

.recent-posts ul li {
  list-style-type: none;
  margin-bottom: 10px;
  margin-left: -30px;
  /* justify-content: flex-start; */
}

.search-box img {
  width: 25px;
  height: 25px;
  background-color: #3367C1;
  /* padding: 7px;
  margin-left: 85.5%;
  margin-top: 4%; */
}

.search-box input {
  border: 2px solid #3367C1 !important;
  /* margin-top: -14%; */
}
.search-box span{
  background-color: #3367C1;
    border: 2px solid #3367C1 !important;
}
.footer-li {
  margin-left: 20px;
  margin-top: -23px;
}

.recent-posts ul li a {
  text-decoration: none;
  color: #111;
}
 
.recent-posts li img {
  height: 10px;
  width: 10px;
}

.mail ul li {
  list-style-type: none;
  margin-left: -30px;
}

.footer-content h5 {
  margin-bottom: 20px;
  border-bottom: 1px solid;
  width:70%;
}
.project .row{
  width:100%;
  /* margin-left:4px; */
  margin-right: 5px;
}
.project .pcol img {
  width: 70px;
  height: 50px;
}

.address img {
  width: 20px;
  height: 20px;
}

.addr, .contact, .mail-id {
  margin-left: 10%;
  margin-top: -20px;
}

.address p{
  font-size:14px;
}

.social-media ul li {
  list-style-type: none;
  display: inline;
  margin-right: 5px;
}
.social-media ul li:hover{
  cursor: pointer;
}
.social-media img {
  width: 25px;
  height: 25px;
  padding: 4px;
  background-color: #3367C1;
}

footer .bottom{
  background-color: #313131;
  padding:20px;
  text-align: center;
  margin:0;
  padding: 0;
}
footer .bottom ul{
  /* display: inline; */
}
footer .bottom ul li a{
  color:#fff;
  text-decoration: none;
}
footer .bottom ul li{
  list-style-type: none;
  display: inline;
  margin-right: 50px;
  
}
.copy-text p{
  color: #fff;
}
.bottom .b-ul{
   border-bottom: 1px solid gray;
}
/* menu anim */
.dropdown:hover>.dropdown-menu li {
  opacity: 0;
  animation: menu1 ease-in-out forwards;
  animation-duration: 300ms;
}

.dropdown:hover>.dropdown-menu li:nth-child(1) {
  animation-delay: 0ms;
}

.dropdown:hover>.dropdown-menu li:nth-child(2) {
  animation-delay: 150ms;
}

.dropdown:hover>.dropdown-menu li:nth-child(3) {
  animation-delay: 300ms;
}

.dropdown:hover>.dropdown-menu li:nth-child(4) {
  animation-delay: 450ms;
}

.dropdown:hover>.dropdown-menu li:nth-child(5) {
  animation-delay: 600ms;
}

.dropdown:hover>.dropdown-menu li:nth-child(6) {
  animation-delay: 750ms;
}

.dropdown:hover>.dropdown-menu li:nth-child(7) {
  animation-delay: 900ms;
}

.dropdown:hover>.dropdown-menu li:nth-child(8) {
  animation-delay: 1050ms;
}

.dropdown:hover>.dropdown-menu li:nth-child(9) {
  animation-delay: 1200ms;
}

.dropdown:hover>.dropdown-menu li:nth-child(10) {
  animation-delay: 1250ms;
}

.dropdown:hover>.dropdown-menu li:nth-child(11) {
  animation-delay: 1500ms;
}

@keyframes menu1 {
  from {
    opacity: 0;
    transform: rotateX(-180deg);
  }

  to {
    opacity: 1;
    transform: rotateX(0deg);
  }
}