
body {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
*{
    /* border:1px solid red;    */
}
.navbar{
    /* overflow: hidden; */
    background-color: #fff;
    padding: 10px;
    border-bottom: 4px solid #21c0d4;
}
.nav-item a:hover{
    font-size:18px;
    color:#21c0d4;
    font-weight: bold;;
}
.dropdown:hover .dropdown-menu{
    display:block;
}
.nav-item a{
    color: #111;
  text-align: center;
  padding: 5px 16px;
  text-decoration: none;
  font-size: 17px;
}
ul .dropdown-menu{
    /* background-color: #fff; */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    color:#111;
}
.dropdown-menu a{
    padding-top:-20px ;
}

ul .dropdown-menu li:hover .dropdown-item{
    background-color: #21c0d4;
    color: #fff;
}
.button {
    border-radius: 30px;
    background-color: transparent;
    border: 2px solid;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    padding: 15px 8px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  button:hover{
    background-color: #fff;
    border: 2px solid #1affff;
    
  }
  .button:hover span {
    padding-right: 12px;
    color: #111;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
.c-1, .c-2, .c-3, .c-4{
  /* font-family:Arial, Helvetica, sans-serif;        */
  font-family: 'DM Sans', sans-serif;
  /* font-family: 'Roboto Serif', serif; */
  letter-spacing:0.5px;;
  line-height: 1.6;
}
.main-1{
    background: linear-gradient(to top, #21c0d4, #6dc77f);
}
.fl-col1{
  color:#fff;
    margin-top: 3%;
}
.para-1{
    margin:5px 20px;
  }
img{
    /* max-width: 100%; */
}
.img-fl{
    display: flex;
    /* justify-content:end;
    align-items: end; */
    padding:20px 30px;
}
  #fl-img1{
    max-width: 100%;
    border-radius:30px;
  }

.c-3{
    margin-top: 5%;
}
.link-row ul li{
    font-weight: 500;
    font-size: 16px;
    list-style: none;
    margin-top: 8px;
    margin-bottom: 20px;
}
 .link-row li a{
    font-size:17px;
    color:#111;
    text-decoration: none;
    font-weight:500;
    background-color: transparent;
 }
 .link-row ul li:hover a{
    /* color:#21c0d4; */
    /* font-size:18px; */
  }
 .link-col1, .link-col-2{
    /* margin-left:-5% */
 }
 .link-row .a-2{
    display: none;
 }
  .link-row img{
    height:20px;
    width: 20px;
  }
 .button-1{
    border-radius: 30px;
    padding:5px;
    width:180px;
    font-weight: 500;
    font-size: 16px;
    box-shadow:  0 6px 20px 0 rgba(0, 0, 0, 0.19);;
    border:1px solid transparent;
    margin:5px 0;
    background-color: transparent;
 }
 .button-1:hover{
    border:3px solid #21c0d4;
    color: #fff;
    background:linear-gradient(to right, #21c0d4, #6dc77f);
 }
 .rating,.skills{
    padding: 20px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }
 .rate-row{
    /* margin-top: 5%; */
    padding-top:10%;
 }
 .rating h3{
  margin-left:25%;
  margin-top:-15%;
 }
 .skills h3{
  margin-left:35%;
  margin-top:-15%;
  padding-bottom: 17px;
 }
 /* rating circle animation */
 :root {
  --color: rgb(255, 192, 0)
}

#inner-circle {
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
}
@property --p {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 5%;
}

@keyframes change-progress {
  0% {
      --p: 0%
  }

 100% {
      --p: 90%
  }
}
#progress-circle {
  /* position: absolute; */
  --p: 0%;
  width: 40px;
  height: 40px;
  margin-top: 5%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: conic-gradient(var(--color) 0 var(--p), white var(--p) 0);
  animation: change-progress 2s ease infinite;
    z-index: 1;
}  
 
  .score-number::after {
    margin-left:15%;
    font-family: sans-serif;
    z-index:11;
    font-size:14px;
    font-weight:600;
    content: '4.9';
    animation: score-counter 2s ease infinite;
  }
  @keyframes score-counter {
    0% {
      content: '1.0';
      color: #ff3b30;
    }
    20% {
       content: '1.2';
       color: #ff3b30;
    }
    30% {
      content: '2.6';
      color: #ff3b30;
    }
    40% {
      content: '2.8';
      color: #ff3b30;
    }
    50% {
      content: '3.0';
      color: #ff9500;
    }
    60% {
      content: '3.7';
      color: #ff9500;
    }
    70% {
      content: '4.1';
      color: #28cd41;
    }
    80% {
      content: '4.5';
      color: #28cd41;
    }
    90% {
      content: '4.7';
      color: #28cd41;
    }
    100% {
      content: '4.9';
      color: #26C63E;
    }
  }

/* counter */
:root{ 
  --color1: #EC5305;
  --color2: #D63B02;
}
.counter{
  color: #fff;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  padding: 3px 6px;
  position: relative;
  z-index: 1;
}
.counter p{
  /* margin-top: -55px;
  margin-left:20px; */
}
.counter:before{
  content: '';
  background: linear-gradient(to right,var(--color1),var(--color2));
  height: 40px;
  width:  40px;
  border-radius: 10px;
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
  position: absolute;
  left: 10%;
  top: 50%;
  z-index: -1;
}
.counter .counter-value{
  font-size: 18px;
  font-weight: 700;
  display: block;
}
.k{
  margin-top:1px;
  margin-left: 2px;
}
.counter.blue{
  display: flex;
  padding-left: 10px;
  /* align-items: ; */
  /* justify-content: center; */
  --color1: rgb(20, 82, 136);
  --color2: #21394E;
}
.c-4{
  margin-top:10%;
}
.logo-card{

  display: flex;
  align-items: center;
  justify-content: center;
}
.card{
  width: 700px;
  padding:10px 20px;
  box-shadow: 10px 0px 15px 5px rgba(0, 0, 0, 0.19);
}
.card img{
  max-width:100%;
}
@media screen and (max-width:990px){
  .counter{ margin-bottom: 40px; }
}   













.c-5{
  margin-top:5%;
}
  .main-3{
    background-color: #18212e;
  }
  .main-3 li img{
    height:10px;
    width: 10px;
  }
.link-col-1{
  padding:15px 40px;
  /* margin:5%; */
}
.main-3 h5{
  margin-top: 5%;
}
  .main-3 ul li {
    font-weight: 500;
    font-size: 12px;
    list-style: none;
    margin-top: 8px;
    margin-bottom: 20px;
    /* margin-left:20%; */
  }
  .main-3 ul li:hover a{
    color:#21c0d4;
    font-size:18px;
  }
  .main-3 ul li a {
    text-decoration: none;
    color:#fff;
    font-size:14px;
    font-weight:500;
    background-color: transparent;

  }
  footer {
    display:flex;
    align-items: center;
    justify-content: center;
    background-color:aliceblue;
    color: grey;
    padding:5px;
  }
  .footer-txt{
    margin-top:15px;
  }
  .footer-logo{
    margin-left: 20%;
 }
  #lk {
    text-decoration: none;
    cursor: pointer;
    color:#111;
  }
  a:hover{
    font-size:17px;
  }
  
  .paypal{
    text-decoration: none;
    color: gray;
    margin-right: 30px;
    height:40px;
    width: 70px;
  }
  
  .stripe{
    text-decoration: none;
    color: gray;
    font-size: 20px;
    height:30px;
    width: 70px;
  }
    